* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: solid pink;
}

html {
    font-size: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size:  inherit;
}